* {
  all: unset;
}
.background {
  background: black;
  border-radius: 5px;
}

button {
  padding: 10px;
}

.clock {
  font-family: "JetBrains Mono";
  font-size: 25px;
}

.cal {
  background-color: black;
  font-family: "JetBrains Mono";
  font-size: 16px;
  font-weight: normal;

.cal-in {
    padding: 0px 10px 0px 10px;
    color: #ababab;

.cal {
     &.highlight {
          padding: 20px;
      }

      padding: 50px;
      margin-left: 10px;
    }
  }
}

calendar:selected {
  color: white;
  background-color: black;
  font-weight: bold;
  text-decoration: underline;
}

calendar.header {
  color: gray;
  font-weight: bold;
}

calendar.button {
  color: gray;
}

calendar.highlight {
  color: gray;
  font-weight: bold;
}

calendar:indeterminate {
  color: #808080;
}

.bat {
  color: rgb(152, 195, 121);
  background-color: rgb(15, 80, 60);
}


.bat_icon {
  min-height: 0;
  min-width: 0;
  color:transparent;
  font-size: 12px;
  margin: 2px;
  background-color: black;
}

.bat_charged {
  color: gray;
}
.bat_charging {
  color: yellow;
}

.vpn_mod {
  background-color: transparent;;
}

.vpn_button {
  background-color: transparent;
}

.vpn_button:hover {
  color: gray;
}

.vpn_inactive {
  color: #e5c890;
}

.vpn_active {
  color: #a6e3a1
}

.net_icon {
  color: white;
}


